#account{
	font-family: 'PT Serif', serif;
	background-color:#e6e6e6;
	background-image: url(qbkls.png);
	padding-left: 15px;
	padding-bottom: 67px;
	padding-top: 10px;
	}
#acc{font-size: 30px;color:#f1d1a0;
	font-family: 'Playfair Display', serif;
	}




#Information{font-family: 'PT Serif', serif;
background-color:#e6e6e6;
background-image: url(qbkls.png);
padding-left: 15px;
padding-bottom: 15px;
padding-top: 10px;
}

#Personal{font-size: 30px;
	color:#f1d1a0;
		font-family: 'Playfair Display', serif;
		}
	

#Availability{font-family: 'PT Serif', serif; background-image: url(qbkls.png);
background-color:#e6e6e6; 
margin-top: 0px;
margin-left: 80px;
margin-right: 80px;
padding-left: 15px;
padding-bottom: 10px;
padding-top: 10px;}

#Ava{font-size: 30px;color:#f1d1a0;
	font-family: 'Playfair Display', serif;
	margin-top: 50px;
	margin-left: 80px;
	margin-top: 30px;
}   

#statement{font-family: 'PT Serif', serif;
background-color:#e6e6e6;
background-image: url(qbkls.png);
margin-left: 80px;
margin-right: 80px;
padding-left: 15px;
padding-bottom: 10px;
padding-top: 10px;
}
#sta{font-size: 30px;color:#f1d1a0;
	font-family: 'Playfair Display', serif;
	margin-left: 80px;
	margin-top: 20px;
}




body{background-image: url(folk-pattern-black.png)}


h1{text-align: center; color:white;font-family:'Anton', sans-serif;font-size: 60px;text-shadow: 5px 5px 8px gray;}

